@model List<ViewModelLayer.Adviser.AdviserInfo>
@{
    ViewData["Title"] = "مشاوران";
    Layout = "~/Views/Shared/_Managment.cshtml";
}

<link href="~/css/alert/sweetalert.css" rel="stylesheet" />
<link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<script src="~/css/alert/sweetalert.js"></script>

<style>
    tr:nth-child(even) {
        background: rgba(126, 136, 241, 0.59)
    }
</style>


<section class="content-header">
    <h1>
        داشبورد
        <small>کنترل پنل</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/AdvisorManagment/Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">مدیریت مشاوران</li>
    </ol>
</section>

<div class="callout callout-info" style="margin-top:10px;">
    <h4>انتخاب مشاور</h4>
    در این قسمت میتوانید به ملک مورد نظر مشاور تخصیص دهید
</div>

<div class="container">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">جستجو</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">تخصص</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="takhasos" name="takhasos" placeholder="تخصص" style="width:50%">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">مناطق</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="manategh" name="manategh" placeholder="مناطق" style="width:50%">
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a class="btn btn-info pull-right" onclick="searchhome()">جستجو</a>
            </div>
            <!-- /.box-footer -->
        </div>
    </div>
</div>


<div class="row" style="padding:10px;">
    <div class="col-md-12 box">
        <div class="table-responsive box-body">
            <table id="mytable" class="table table-bordered table-hover" style="background-color:white;">
                <thead>
                    <tr>
                        <th class="text-center">عکس</th>
                        <th class="text-center">نام و نام خانوادگی</th>
                        <th class="text-center"><a style="cursor:pointer" onclick="searchsabeghe()">سابقه</a></th>
                        <th class="text-center">تخصص</th>
                        <th class="text-center"> مناطق فعالیت </th>
                        <th class="text-center"> <a style="cursor:pointer" onclick="searchforosh()">فروش</a>   </th>
                        <th class="text-center"> <a style="cursor:pointer" onclick="searchejare()">اجاره</a>  </th>
                        <th class="text-center"> <a style="cursor:pointer" onclick="searchforokhteshode()">فروخته شده</a>  </th>
                        <th class="text-center"> <a style="cursor:pointer" onclick="searchejaredadeshode()">اجاره داده شده</a>  </th>
                        <th class="text-center">شماره موبایل </th>
                        <th class="text-center">انتخاب</th>
                    </tr>
                </thead>
                <tbody id="listofarticle">
                    @await Html.PartialAsync("_ListAjaxSelectedAdviser", Model)
                </tbody>

            </table>

        </div>

    </div>
</div>

<script>
    function selectitem(id) {
        swal({
            title: "آیا میخواهید انتخاب شود؟",
            text: "",
            type: "info",
            showCancelButton: true,
            confirmButtonClass: "btn-success",
            confirmButtonText: "بله انتخاب شود",
            cancelButtonText: "خیر",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    sendtoservertodelete(id);

                } else {
                    swal("صرف نظر", "حذف نشد", "error");
                }
            });
    };

    function sendtoservertodelete(id) {
        $.ajax({
                type: "Post",
                url: '/ContractManagment/AddAdviser',
                data: { adviserid: id , contractid : @ViewData["contractid"] },
                success: function (data) {
                    window.location.href = "/HomeManagment/Index";
                }
            });
    }

    function searchhome() {
        var takhasos = $("#takhasos").val();
        var manategh = $("#manategh").val();
        $("#listofarticle").empty();
        $('#listofarticle').load('/AdvisorManagment/Searchfast?takhasos=' + takhasos + '&manategh=' + manategh);
        $("#listofarticle").show();
    }

    function searchsabeghe() {
        $("#listofarticle").empty();
        $('#listofarticle').load('/AdvisorManagment/Searchsabeghe');
        $("#listofarticle").show();
        }

    function searchforosh() {
        $("#listofarticle").empty();
        $('#listofarticle').load('/AdvisorManagment/Searchforosh');
        $("#listofarticle").show();
        }

    function searchejare() {
        $("#listofarticle").empty();
        $('#listofarticle').load('/AdvisorManagment/Searchejare');
        $("#listofarticle").show();
        }

    function searchforokhteshode() {
        $("#listofarticle").empty();
        $('#listofarticle').load('/AdvisorManagment/Searchforokhteshode');
        $("#listofarticle").show();
        }

    function searchejaredadeshode() {
        $("#listofarticle").empty();
        $('#listofarticle').load('/AdvisorManagment/Searchejaredadeshode');
        $("#listofarticle").show();
    }
</script>


