<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="خرید و فروش و رهن و اجاره ملک شما در سریع ترین زمان" />
    <meta name="author" content="توحید حقیقی" />
    <meta name="keywords" content="توحید حقیقی ,حامی هوم , خرید ملک , سپردن ملک, خرید ,فروش, اجاره , سپردن,جستجو ملک, خانه,اپارتمان,ویلا,حیاط باغ دار,باغ و باغچه, انبار" />
    <meta name="" content="توحید حقیقی" />
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Hami Homes - حامی هوم</title>
    <link rel="icon" type="image/x-icon" href="~/img/logo 3.png" />



    <meta name="twitter:site" content="Hami Homes - حامی هوم">
    <meta name="twitter:title" content="خرید و فروش و رهن و اجاره ملک شما در سریع ترین زمان">
    <meta name="twitter:description" content="خرید و فروش و رهن و اجاره ملک شما در سریع ترین زمان">
    <meta name="twitter:creator" content="توحید حقیقی">
    <meta name="twitter:image:src" content="~/img/logo2.png">

    <meta itemprop="name" content="Hami Homes - حامی هوم">
    <meta itemprop="description" content="خرید و فروش و رهن و اجاره ملک شما در سریع ترین زمان">
    <meta itemprop="image" content="~/img/logo2.png">

    <meta property="og:title" content="خرید و فروش و رهن و اجاره ملک شما در سریع ترین زمان" />
    <meta property="og:type" content="personal page" />
    <meta property="og:url" content="~/img/logo2.png" />
    <meta property="og:image" content="~/img/logo2.png" />
    <meta property="og:description" content="خرید و فروش و رهن و اجاره ملک شما در سریع ترین زمان" />
    <meta property="og:site_name" content="Hami Homes - حامی هوم" />



    <environment include="Development">


    </environment>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <!--javascript-->
    <script src="js/custom-js.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/js/multiselect/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="~/js/multiselect/css/bootstrap-multiselect.css" type="text/css" />
    <link href="~/css/Custom.css" rel="stylesheet" />

    <style>


        .nav-hover:hover {
            border-bottom: 3px solid red;
        }

        .btnchange {
            -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
            transition: color 1s; /* For modern browsers */
            border-radius: 10px 10px 10px 10px;
            margin-top: 10px;
            color: black;
            padding: 10px;
        }

            .btnchange:hover {
                background: #ca062b;
                color: white;
            }

        .btnchange1 {
            -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
            transition: color 1s; /* For modern browsers */
            border-radius: 10px 10px 10px 10px;
            margin-top: 10px;
            color: black;
            padding: 10px;
        }

            .btnchange1:hover {
                color: #000000;
            }

        .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-left: 0px;
            padding-right: 0px;
        }

        body {
            font-family: IRANSans !important;
            font-weight: 200;
            font-size: 15px;
        }

        h1, h2, h3, h4, h5, h, a, input, textarea, button {
            font-family: IRANSans !important;
            font-weight: bold;
            font-size: 15px;
        }

        p {
            font-family: sahel;
            font-weight: bold;
            font-size: 15px;
        }

        input:focus {
            outline: none;
        }

        .padd {
            padding-left: 3px;
            padding-right: 3px;
        }

        option {
            color: black;
        }

        .dropdown-menu {
            min-width: 12rem;
        }

        select {
            text-align: center;
            text-align-last: center;
            -moz-text-align-last: center;
        }

        .select-btn {
            color: black;
        }

            .select-btn :hover {
                color: #e4002b;
            }

        .multiselect-container {
            height: 200px;
            overflow-y: scroll;
            overflow-x: scroll;
        }

        .dropdown-item {
            display: inline;
        }

        .card {
            cursor: pointer;
        }

        .border-down {
            border-bottom: 3px solid red;
        }

        .border-hide {
            border-bottom: 0px solid red;
        }

        .atl_services {
            width: 88.5%;
            border: 1px solid GREY;
            box-shadow: 0px 0px 3px GREY;
        }
    </style>
</head>
<body id="bodyid">
    <div style="background-color:#f8f9fa; padding-left:50px;padding-right:50px;">
        <div class="">
            <div class="" style="padding-left:20px;padding-right:20px;">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <div class="row">
                            <nav class="navbar navbar-expand-md navbar-light">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynavbar">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="mynavbar">
                                    <ul class="navbar-nav list-unstyled card-columns">
                                        <li class="nav-item">
                                            <a href="/" class="text-red-hover nav-link mr-1"><img src="~/img/logo 3.png" style="width:40px;height:40px;margin-top:5px;" /></a>
                                        </li>
                                        <li class="nav-item nav-hover" style="padding:5px;" id="buyheadershow" onclick="changecolor(1)">
                                            <a href="#" class="text-red-hover nav-link mr-1"><p class="text-center" style="color:black;padding-top:15px;font-family: IRANSans !important;font-weight:bold;"> خرید و فروش  </p></a>
                                        </li>
                                        <li class="nav-item nav-hover" style="padding:5px;" id="rentheadershow" onclick="changecolor(2)">
                                            <a href="#" class=" nav-link mx-1"><p class="text-center" style="color:black;padding-top:15px;font-family: IRANSans !important;font-weight:bold;"> رهن و اجاره </p></a>
                                        </li>
                                        <li class="nav-item nav-hover" style="padding:5px;" id="buildheadershow" onclick="changecolor(3)">
                                            <a href="#" class="nav-link mx-1 "> <p class="text-center" style="color:black;padding-top:15px;font-family: IRANSans !important;font-weight:bold;"> ساخت و ساز   </p></a>
                                        </li>
                                        <li class="nav-item nav-hover" style="padding:5px; border-left:1px outset rgba(209, 207, 207, 0.75);" id="soldheadershow" onclick="changecolor(4)">
                                            <a href="#" class="nav-link mx-1 "><p class="text-center" style="color:black;padding-top:15px;font-family: IRANSans !important;font-weight:bold;"> فروخته شده </p> </a>
                                        </li>
                                        <li class="nav-item" style="padding-bottom:5px;">

                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <img src="~/img/search.png" style="width:25px;height:25px;margin-top:20px;padding:1px;" />
                                                </div>

                                                <input type="text" class="form-control" placeholder="منطقه ... محله ... " style="border-color:white;height:70px;padding-bottom:5px;outline: none;background-color:#f8f9fa;" id="searchinput" list="defaultEmails">
                                                <datalist id="defaultEmails" class="atl_services"></datalist>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 d-none d-sm-block" style="background-color:rgba(0, 0, 0, 0.00);font-size:17px;">
                        <div class="row float-right" style="">
                            <a href="#" class="text-center border btnchange" style="margin-left:5px;margin-right:15px;" title="سپردن ملک"><p style="font-size:17px;margin-left:15px;margin-right:15px;margin-bottom:0px;font-family: IRANSans !important;font-weight:bold;">   + </p>  </a>
                            <a href="/Account/Login" class="text-center btnchange1" style="margin-left:5px;">ورود</a>
                            <a href="/Account/Register" class="text-center border btnchange" style="margin-left:25px;margin-right:15px;"><p style="font-size:17px;margin-left:5px;margin-right:5px;margin-bottom:0px;font-family: IRANSans !important;font-weight:bold;">   ثبت نام </p>  </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <hr style="margin-top:0px;margin-bottom:0px;" />
    <div style="background-color:#f8f9fa;">
        @RenderBody()

    </div>
    <script>
    var typemelk = 1;
        $(document).ready(function () {
            listdata();
        });


        function listdata() {
            $.ajax({
                type: "Post",
                url: '/Home/Getdatalist',
                success: function (data) {
                    $("#defaultEmails").empty();
                    $("#defaultEmails").append(data);
                }
            });
            }

    function changecolor(color) {
        var buyheadershow = document.getElementById("buyheadershow");
        buyheadershow.classList.remove("border-down");
        var rentheadershow = document.getElementById("rentheadershow");
        rentheadershow.classList.remove("border-down");
        var buildheadershow = document.getElementById("buildheadershow");
        buildheadershow.classList.remove("border-down");
        var soldheadershow = document.getElementById("soldheadershow");
        soldheadershow.classList.remove("border-down");
        if (color == 1) {
            $("#buyheadershow").addClass("border-down");
            typemelk = 1;
        } else if (color==2) {
            $("#rentheadershow").addClass("border-down");
            typemelk = 2;
        }else if (color==3) {
            $("#buildheadershow").addClass("border-down");
            typemelk = 3;
        }else if (color==4) {
            $("#soldheadershow").addClass("border-down");
            typemelk = 4;
        }
    }


    </script>



    @RenderSection("Scripts", required: false)
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176930890-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-176930890-1');
    </script>

</body>
</html>
