<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>داشبرد | کنترل پنل مدیریت</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Managment/dist/css/bootstrap-theme.css">
    <!-- Bootstrap rtl -->
    <link rel="stylesheet" href="~/Managment/dist/css/rtl.css">
    <!-- persian Date Picker -->
    <link rel="stylesheet" href="~/Managment/dist/css/persian-datepicker-0.4.5.min">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Managment/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Managment/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Managment/dist/css/AdminLTE.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Managment/dist/css/skins/_all-skins.min.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/Managment/bower_components/morris.js/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/Managment/bower_components/jvectormap/jquery-jvectormap.css">
    <link href="~/Managment/bower_components/select2/dist/css/select2.css" rel="stylesheet" />
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Managment/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/Managment/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">





    <style>
        @@font-face {
            font-family: IRANSans;
            font-style: normal;
            font-weight: 900;
            src: url('../fonts/iransans/eot/IRANSansWeb_Black.eot');
            src: url('../fonts/iransans/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
            url('../fonts/iransans/woff2/IRANSansWeb_Black.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
            url('../fonts/iransans/woff/IRANSansWeb_Black.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url('../fonts/iransans/ttf/IRANSansWeb_Black.ttf') format('truetype');
        }

        @@font-face {
            font-family: IRANSans;
            font-style: normal;
            font-weight: bold;
            src: url('../fonts/iransans/eot/IRANSansWeb_Bold.eot');
            src: url('../fonts/iransans/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
            url('../fonts/iransans/woff2/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
            url('../fonts/iransans/woff/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url('../fonts/iransans/ttf/IRANSansWeb_Bold.ttf') format('truetype');
        }

        @@font-face {
            font-family: IRANSans;
            font-style: normal;
            font-weight: 500;
            src: url('../fonts/iransans/eot/IRANSansWeb_Medium.eot');
            src: url('../fonts/iransans/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
            url('../fonts/iransans/woff2/IRANSansWeb_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
            url('../fonts/iransans/woff/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url('../fonts/iransans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
        }

        @@font-face {
            font-family: IRANSans;
            font-style: normal;
            font-weight: 300;
            src: url('../fonts/iransans/iransans/eot/IRANSansWeb_Light.eot');
            src: url('../fonts/iransans/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
            url('../fonts/iransans/woff2/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
            url('../fonts/iransans/woff/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url('../fonts/iransans/ttf/IRANSansWeb_Light.ttf') format('truetype');
        }

        @@font-face {
            font-family: IRANSans;
            font-style: normal;
            font-weight: 200;
            src: url('../fonts/iransans/eot/IRANSansWeb_UltraLight.eot');
            src: url('../fonts/iransans/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
            url('../fonts/iransans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
            url('../fonts/iransans/woff/IRANSansWeb_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url('../fonts/iransans/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
        }

        @@font-face {
            font-family: IRANSans;
            font-style: normal;
            font-weight: normal;
            src: url('../fonts/iransans/eot/IRANSansWeb.eot');
            src: url('../fonts/iransans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
            url('../fonts/iransans/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
            url('../fonts/iransans/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url('../fonts/iransans/ttf/IRANSansWeb.ttf') format('truetype');
        }

        body {
            font-family: IRANSans !important;
            font-weight: 300;
            direction: rtl;
            background-color: #E2E2E2;
            margin: 0;
        }

        h1, h2, h3, h4, h5, h6, a, p, label, li, btn, input, textarea {
            font-family: IRANSans !important;
        }

        h1 {
            font-weight: bold;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini skin-black-light">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="/Managment" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">پنل</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>کنترل پنل مدیریت</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>


                <!-- Delete This after download -->
                <a class="btn hidden-xs" style="margin:6px 100px;padding:9px 50px;background-color:#d61577;border-color:#ad0b5d;font-weight:bold;color:#FFF" href="http://hamihomes.com">ورود به سایت</a>
                <!-- End Delete-->



                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">۴ پیام خوانده نشده</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-right">
                                                    <img src="~/Managment/dist/img/imgtohid.jpeg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    علیرضا
                                                    <small><i class="fa fa-clock-o"></i> ۵ دقیقه پیش</small>
                                                </h4>
                                                <p>متن پیام</p>
                                            </a>
                                        </li>
                                        <!-- end message -->

                                    </ul>
                                </li>
                                <li class="footer"><a href="#">نمایش تمام پیام ها</a></li>
                            </ul>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">۱۰</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">۱۰ اعلان جدید</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> ۵ کاربر جدید ثبت نام کردند
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> اخطار دقت کنید
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i> ۴ کاربر جدید ثبت نام کردند
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="footer"><a href="#">نمایش همه</a></li>
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Managment/dist/img/imgtohid.jpeg" class="user-image" alt="User Image">
                                <span class="hidden-xs">توحید حقیقی</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Managment/dist/img/imgtohid.jpeg" class="img-circle" alt="User Image">

                                    <p>
                                        توحید حقیقی
                                        <small>مدیریت کل سایت</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">

                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">پروفایل</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">خروج</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- right side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-right image">
                        <img src="~/Managment/dist/img/imgtohid.jpeg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-right info">
                        <p>مدیر سایت</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> آنلاین</a>
                    </div>
                </div>
                <!-- search form -->
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">منو</li>
                    <li class="active treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>مدیریت املاک</span>
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active">
                                <a href="/HomeManagment/Index">
                                    <i class="fa fa-circle-o"></i>
                                    <span>جستجو املاک</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="/HomeApartemanManagment/Index">
                                    <i class="fa fa-circle-o"></i>
                                    <span>لیست اپارتمان</span>
                                    <span class="pull-left-container">
                                        <span class="label label-default pull-left">4</span>
                                    </span>
                                </a>
                            </li>
                            <li class="">
                                <a href="/HomeWithGardenManagment/Index">
                                    <i class="fa fa-circle-o"></i>
                                    <span>لیست خانه حیاط دار</span>
                                    <span class="pull-left-container">
                                        <span class="label label-default pull-left">4</span>
                                    </span>
                                </a>
                            </li>
                            <li class="">
                                <a href="/HomeGround/Index">
                                    <i class="fa fa-circle-o"></i>
                                    <span>لیست زمین</span>
                                    <span class="pull-left-container">
                                        <span class="label label-default pull-left">4</span>
                                    </span>
                                </a>
                            </li>
                            <li class="">
                                <a href="/HomeKolangi/Index">
                                    <i class="fa fa-circle-o"></i>
                                    <span>لیست خانه کلنگی</span>
                                    <span class="pull-left-container">
                                        <span class="label label-default pull-left">4</span>
                                    </span>
                                </a>
                            </li>
                            <li class="">
                                <a href="/HomeEdari/Index">
                                    <i class="fa fa-circle-o"></i>
                                    <span>لیست خانه اداری</span>
                                    <span class="pull-left-container">
                                        <span class="label label-default pull-left">4</span>
                                    </span>
                                </a>
                            </li>
                            <li class="">
                                <a href="/HomeMaghaze/Index">
                                    <i class="fa fa-circle-o"></i>
                                    <span>لیست مغازه</span>
                                    <span class="pull-left-container">
                                        <span class="label label-default pull-left">4</span>
                                    </span>
                                </a>
                            </li>
                            <li class="">
                                <a href="/HomeMostaghelat/Index">
                                    <i class="fa fa-circle-o"></i>
                                    <span>لیست مستقلات</span>
                                    <span class="pull-left-container">
                                        <span class="label label-default pull-left">4</span>
                                    </span>
                                </a>
                            </li>
                            <li class="">
                                <a href="/HomeAnbarManagment/Index">
                                    <i class="fa fa-circle-o"></i>
                                    <span>لیست انبار و سوله</span>
                                    <span class="pull-left-container">
                                        <span class="label label-default pull-left">4</span>
                                    </span>
                                </a>
                            </li>
                            <li class="">
                                <a href="/HomeGardenManagment/Index">
                                    <i class="fa fa-circle-o"></i>
                                    <span>لیست باغ و باغچه</span>
                                    <span class="pull-left-container">
                                        <span class="label label-default pull-left">4</span>
                                    </span>
                                </a>
                            </li>
                            <li class="">
                                <a href="/HomeVilaManagment/Index">
                                    <i class="fa fa-circle-o"></i>
                                    <span>لیست ویلا</span>
                                    <span class="pull-left-container">
                                        <span class="label label-default pull-left">4</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>املاک ترکیه</span>
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="#"><i class="fa fa-circle-o"></i> لیست املاک ترکیه</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> افزودن ملک جدید</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>باغات کشاورزی</span>
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="#"><i class="fa fa-circle-o"></i> لیست باغات کشاورزی</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> افزودن باغ جدید</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>تنظیمات املاک</span>
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            @*<li class="active"><a href="/AmlakSettingManagment/Moshaat"><i class="fa fa-circle-o"></i> لیست مشاعات</a></li>*@
                            <li><a href="/AmlakSettingManagment/Wc"><i class="fa fa-circle-o"></i> سرویس بهداشتی و حمام</a></li>
                            <li><a href="/AmlakSettingManagment/Parking"><i class="fa fa-circle-o"></i> نوع و تعداد پارکینگ</a></li>
                            <li><a href="/AmlakSettingManagment/Emtiaz"><i class="fa fa-circle-o"></i> امتیاز</a></li>
                            <li><a href="/AmlakSettingManagment/MoshakhaseMelk"><i class="fa fa-circle-o"></i> مشخصه ملک </a></li>
                            <li><a href="/AmlakSettingManagment/Nema"><i class="fa fa-circle-o"></i> نمای ساختمان </a></li>
                            <li><a href="/AmlakSettingManagment/Kaf"><i class="fa fa-circle-o"></i> پوشش کف </a></li>
                            <li><a href="/AmlakSettingManagment/Kitchen"><i class="fa fa-circle-o"></i> آشپزخانه </a></li>
                            <li><a href="/AmlakSettingManagment/Divar"><i class="fa fa-circle-o"></i> نوع دیوار </a></li>
                            <li><a href="/AmlakSettingManagment/TasisatGarmaieshi"><i class="fa fa-circle-o"></i> تاسیسات گرمایشی و سرمایشی </a></li>
                            <li><a href="/AmlakSettingManagment/Skeleton"><i class="fa fa-circle-o"></i>  نوع اسکلت </a></li>
                            <li><a href="/AmlakSettingManagment/Saghf"><i class="fa fa-circle-o"></i> نوع سقف </a></li>
                            <li><a href="/AmlakSettingManagment/SanadStatus"><i class="fa fa-circle-o"></i> وضعیت سند </a></li>
                            <li><a href="/AmlakSettingManagment/MelkStatus"><i class="fa fa-circle-o"></i> وضعیت ملک </a></li>
                            <li><a href="/AmlakSettingManagment/Jahatvahed"><i class="fa fa-circle-o"></i> جهت واحد </a></li>
                            <li><a href="/AmlakSettingManagment/MoghiateMelk"><i class="fa fa-circle-o"></i> موقعیت ملک </a></li>
                            <li><a href="/AmlakSettingManagment/PishraftStatus"><i class="fa fa-circle-o"></i> وضعیت پیشرفت </a></li>
                            <li><a href="/AmlakSettingManagment/NoeZamin"><i class="fa fa-circle-o"></i> نوع زمین </a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/UserManagment">
                            <i class="fa fa-th"></i> <span>مدیریت کاربران</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdvisorManagment">
                            <i class="fa fa-th"></i> <span>مدیریت مشاوران</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-pie-chart"></i>
                            <span>مدیریت تنظیمات</span>
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/HomeGroupManagment"><i class="fa fa-circle-o"></i> مدیریت دسته بندی ها</a></li>
                            <li><a href="/HomeFacilityManagment"><i class="fa fa-circle-o"></i> مدیریت امکانات </a></li>
                            <li><a href="/CostSetting"><i class="fa fa-circle-o"></i> مدیریت قیمت </a></li>
                            <li><a href="/CostSetting/Metraz"><i class="fa fa-circle-o"></i> مدیریت متراژ </a></li>
                            <li><a href="/CostSetting/Ejare"><i class="fa fa-circle-o"></i> مدیریت اجاره </a></li>
                            <li><a href="/CostSetting/Vadie"><i class="fa fa-circle-o"></i> مدیریت ودیعه </a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span>مدیریت شهر و استان</span>
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/CityManagment"><i class="fa fa-circle-o"></i> مدیریت شهر</a></li>
                            <li><a href="/RegionManagment"><i class="fa fa-circle-o"></i> مدیریت استان</a></li>
                            <li><a href="/NahieManagment"><i class="fa fa-circle-o"></i> مدیریت منطقه</a></li>
                            <li><a href="/MahalleManagment"><i class="fa fa-circle-o"></i> مدیریت محله</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>مدیریت مدیران</span>
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/AdminManagment"><i class="fa fa-circle-o"></i> مدیریت مدیران</a></li>
                            <li><a href="/AdminManagment/Create"><i class="fa fa-circle-o"></i> درج مدیر جدید</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>مدیریت اخبار و قوانین</span>
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/MagzineManagment"><i class="fa fa-circle-o"></i> مدیریت اخبار و قوانین</a></li>
                            <li><a href="/MagazinGroupManagment"><i class="fa fa-circle-o"></i> مدیریت دسته بندی پست ها</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>ابزارهای مورد نیاز</span>
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="/Tools"><i class="fa fa-circle-o"></i>تبدیل عکس به ادرس سایت</a></li>
                        </ul>
                    </li>

                    <li><a href="/SettingManagment"><i class="fa fa-circle-o text-red"></i> <span>تنظیمات سایت</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Export</span></a></li>
                    <li><a href="/LogManagment"><i class="fa fa-circle-o text-primary"></i> <span>گزارش خطا</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Backup</span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                <!-- Small boxes (Stat box) -->
                @RenderBody()
                <!-- /.row (main row) -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer text-left">
            <strong>Copyleft &copy; 2020 <a>tohid haghighi</a></strong>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">وضعیت</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">تنظیمات عمومی</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                گزارش کنترلر پنل
                                <input type="checkbox" class="pull-left" checked>
                            </label>

                            <p>
                                ثبت تمامی فعالیت های مدیران
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                ایمیل مارکتینگ
                                <input type="checkbox" class="pull-left" checked>
                            </label>

                            <p>
                                اجازه به کاربران برای ارسال ایمیل
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                در دست تعمیرات
                                <input type="checkbox" class="pull-left" checked>
                            </label>

                            <p>
                                قرار دادن سایت در حالت در دست تعمیرات
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <h3 class="control-sidebar-heading">تنظیمات گفتگوها</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                آنلاین بودن من را نشان نده
                                <input type="checkbox" class="pull-left" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                اعلان ها
                                <input type="checkbox" class="pull-left">
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                حذف تاریخته گفتگوهای من
                                <a href="javascript:void(0)" class="text-red pull-left"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Managment/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Managment/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button);</script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Managment/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="~/Managment/bower_components/raphael/raphael.min.js"></script>
    <script src="~/Managment/bower_components/morris.js/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Managment/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/Managment/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Managment/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Managment/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Managment/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Managment/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/Managment/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Managment/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Managment/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- DataTables -->
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Managment/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Managment/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Managment/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Managment/dist/js/demo.js"></script>
    <script src="~/Managment/bower_components/select2/dist/js/select2.full.js"></script>
    <script type="text/javascript" src="https://cdn.map.ir/web-sdk/1.4.2/js/mapp.env.js"></script>
    <script type="text/javascript" src="https://cdn.map.ir/web-sdk/1.4.2/js/mapp.min.js"></script>

    <script>



        function changedirection(x, y, zoom) {
            app = new Mapp({
                element: '#app',
                presets: {
                    latlng: {
                        lat: x,
                        lng: y,
                    },
                    zoom: zoom,
                },
                apiKey: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjAwYmI0M2UxMGIxNTE4ZjBjNmM5MWRjNTg0ODI5ODM5OWIxOGY4YjlmOTEwMmYyODdjOGNiNDMxZDUwZmM5NTgwN2NhNGE5N2YwOTFlMjgxIn0.eyJhdWQiOiIxMDI4NyIsImp0aSI6IjAwYmI0M2UxMGIxNTE4ZjBjNmM5MWRjNTg0ODI5ODM5OWIxOGY4YjlmOTEwMmYyODdjOGNiNDMxZDUwZmM5NTgwN2NhNGE5N2YwOTFlMjgxIiwiaWF0IjoxNTk2MDk3MTk5LCJuYmYiOjE1OTYwOTcxOTksImV4cCI6MTU5ODY4OTE5OSwic3ViIjoiIiwic2NvcGVzIjpbImJhc2ljIl19.D72_lhlqLfYLWzU39Vht_UD-OokirrPZIsOmGDZVHhsD-5ha9DF7WaU7FJA-H3RhVYJJccYl5fL5ik6dooPiap8yL3mBIJO6QLGO5ZdN3Y_kQqjsgJlrUTtLcJ-fmAKjJFEdcgiP0ofcGkjGinEtJPNRNoGRlbhXX75neXlheJ2FQBvdNhdXRIbyBGOJZkPGHOurUWHtxOeGZzuu5WpJ3wphdHJhoQdfTZIMFNe-OO-s7UnUhGB2PUs6noqH6zVrAJpLwCG2IaYwTFl6uD7L7agAiAhFEm31zY7I7pDj8PKCWIfIKRC-FmwMlhGmx_vBWe5OpW5ezGoupEIaTn52_Q'
            });
            app.addLayers();
            app.addZoomControls();
            app.addSearch({
                counts: {
                    geocode: 10,
                    poi: 10,
                },
                history: true,
            });
            app.addMarker({
                name: 'basic-marker',
                latlng: {
                    lat: x,
                    lng: y,
                },
                popup: {
                    title: {
                        html: 'جستجو ادرس در نقشه',
                    },
                    description: {
                        html: '<h3>ارومیه</h3>',
                    },
                    open: true,
                },
                on: {
                    click: function () {
                        app.removeMarkers({
                            group: app.groups.features.markers,
                        });
                    },
                },
            });

        }





        $(function () {



            //Initialize Select2 Elements
            $('.select2').select2({
                dir: "rtl"
            });

            //Datemask dd/mm/yyyy
            $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            //Datemask2 mm/dd/yyyy
            $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
            //Money Euro
            $('[data-mask]').inputmask()

            //Date range picker
            $('#reservation').daterangepicker()
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                },
                function (start, end) {
                    $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                }
            )

            //Date picker
            $('#datepicker').datepicker({
                autoclose: true
            })

            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            })
            //Red color scheme for iCheck
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            })
            //Flat red color scheme for iCheck
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            })

            //Colorpicker
            $('.my-colorpicker1').colorpicker()
            //color picker with addon
            $('.my-colorpicker2').colorpicker()

            //Timepicker
            $('.timepicker').timepicker({
                showInputs: false
            })
        });


    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>
