@model List<DomainLayer.Home.Home>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Managment.cshtml";
}


<link href="~/css/alert/sweetalert.css" rel="stylesheet" />
<link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<script src="~/css/alert/sweetalert.js"></script>

<style>
    tr:nth-child(even) {
        background: rgba(126, 136, 241, 0.59)
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #af1e1e;
        color: white;
        direction: rtl;
    }

    span {
        direction: rtl;
    }
</style>

<section class="content-header">
    <h1>
        داشبرد
        <small>کنترل پنل</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/HomeManagment/Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">مدیریت خانه ها </li>
    </ol>
</section>

<div class="callout callout-info" style="margin-top:10px;">
    <h4>مدریت خانه ها</h4>
    در اینجا میتوانید خانه هایی را با لوکیشن آن ها در نقشه درج کنید

</div>



<p style="margin-right:50px;">
    <a href="/HomeManagment/Create" class="btn btn-default">افزودن خانه جدید</a>
    <a href="/HomeManagment/Search" class="btn btn-default">جستجوی پیشرفته</a>
    <a href="/Map/Index" class="btn btn-default">جستجوی روی نقشه</a>
</p>

<div class="container">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">جستجو سریع</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">کد ملک</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="کد ملک">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">محله</label>
                    <div class="col-sm-10">
                        <select class="form-control select2 text-center btn-block" data-placeholder="   محلات را انتخاب کن  "
                                style="width: 100%;direction:rtl;float:right;" name="homewc" id="homewc">
                            <option value="سعدی">سعدی</option>
                            <option value="رودکی">رودکی</option>
                            <option value="سعدی">سعدی</option>
                            <option value="سعدی">سعدی</option>
                            <option value="سعدی">سعدی</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">جستجو</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 box">
            <div class="table-responsive box-body">
                <table id="mytable" class="table table-bordered table-hover" style="background-color:white;">
                    <thead>
                        <tr>
                            <th class="text-center">عکس</th>
                            <th class="text-center">زمان انتشار</th>
                            <th class="text-center">عمومی / خصوصی</th>
                            <th class="text-center">ادرس</th>
                            <th class="text-center">سال ساخت</th>
                            <th class="text-center">اتاق خواب</th>
                            <th class="text-center">حمام</th>
                            <th class="text-center">گالری تصاویر</th>
                            <th class="text-center">نقشه 3 یعدی</th>
                            <th class="text-center">حذف</th>
                        </tr>
                    </thead>
                    <tbody id="listofarticle">
                        @await Html.PartialAsync("_ListAjax", Model)
                    </tbody>

                </table>

            </div>

        </div>
    </div>
</div>


<script>


    function deleteitem(id) {
        swal({
            title: "آیا میخواهید حذف شود؟",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "بله حذف شود",
            cancelButtonText: "خیر",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    sendtoservertodelete(id);

                } else {
                    swal("صرف نظر", "حذف نشد", "error");
                }
            });
    }

    function sendtoservertodelete(id) {
        $.ajax({
            type: "Post",
            url: '/HomeManagment/Delete',
            data: { id: id },
            success: function (data) {
                window.location.reload();
            }
        });
    }

    function updateitem(id) {
        window.location.href = "/HomeManagment/Update?id=" + id;
    }

    function map(url) {
        window.location.href = url;
    }

    function gallery(id) {
        window.location.href = "/HomeGalleryManagment/Index?homeid=" + id;
        }
</script>