@model ViewModelLayer.HomeManagment.MainSearch
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Managment.cshtml";
}


<link href="~/css/alert/sweetalert.css" rel="stylesheet" />
<link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<script src="~/css/alert/sweetalert.js"></script>

<style>
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #af1e1e;
        color: white;
        direction: rtl;
    }

    span {
        direction: rtl;
    }
</style>

<section class="content-header">
    <h1>
        داشبورد
        <small>کنترل پنل</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/HomeManagment/Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">مدیریت خانه ها </li>
    </ol>
</section>

<div class="callout callout-info" style="margin-top:10px;">
    <h4>مدریت ساختمان اداری</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 box">
            <div class="table-responsive box-body">
                <table id="mytable" class="table table-bordered table-hover" style="background-color:white;">
                    <thead>
                        <tr>
                            <th class="text-center">تایید شده ؟</th>
                            <th class="text-center">عکس</th>
                            <th class="text-center">کد فایل</th>
                            <th class="text-center">تاریخ انتشار</th>
                            <th class="text-center">مالک</th>
                            <th class="text-center">مشاور</th>
                            <th class="text-center">نوع ملک</th>
                            <th class="text-center">نوع معامله</th>
                            <th class="text-center">وضعیت قیمت</th>
                            <th class="text-center">متراژ</th>
                            <th class="text-center">حذف</th>
                        </tr>
                    </thead>
                    <tbody id="showfilterbox">
                        @await Html.PartialAsync("_ListAjax", Model.Contracts)
                    </tbody>

                </table>

            </div>

        </div>
    </div>
</div>


<script>


    function deleteitem(id) {
        swal({
            title: "آیا میخواهید حذف شود؟",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "بله حذف شود",
            cancelButtonText: "خیر",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    sendtoservertodelete(id);

                } else {
                    swal("صرف نظر", "حذف نشد", "error");
                }
            });
    }

    function sendtoservertodelete(id) {
        $.ajax({
            type: "Post",
            url: '/HomeManagment/Delete',
            data: { id: id },
            success: function (data) {
                window.location.reload();
            }
        });
    }

    function updateitem(id) {
        window.location.href = "/HomeManagment/Update?id=" + id;
    }

    function map(url) {
        window.location.href = url;
    }

    function gallery(id) {
        window.location.href = "/HomeGalleryManagment/Index?homeid=" + id;
    }

    function Changecheck(id) {
        swal({
            title: "کارشناس مورد نظر خود را اختصاص دهید؟",
            text: "",
            type: "info",
            showCancelButton: true,
            confirmButtonClass: "btn-success",
            confirmButtonText: "بله میخوام",
            cancelButtonText: "خیر",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    takhsissearch(id);

                } else {
                    swal("صرف نظر", "حذف نشد", "error");
                }
            });

    }

    function takhsissearch(id) {
        window.location.href = "/AdvisorManagment/AdviserSelect?contractid=" + id;
    }

    function Changecheckunpin(id) {
        $.ajax({
            type: "Post",
            url: '/HomeManagment/CheckChange',
            data: { id: id },
            success: function (data) {
                window.location.reload();
            }
        });
    }

</script>

