@model ViewModelLayer.UI.SearchList
<link href="~/lib/multiselect/multiselect.css" rel="stylesheet" />
<script src="~/lib/multiselect/multiselect.js"></script>

<style>
    .btn.btn-secondary {
        width: 20%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    
</style>
<div class="wrapper" style="padding:20px;">


    <div class="" style="padding-top:30px;">
        <div class="row">
            <div class="col-3">
                <div class="" style="padding-right:30px;padding-top:10px;">
                    <p style="font-weight:bold;font-size:16px;">عرض انبار </p>
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-6">
                        <div class="form-inline" style="padding-top:10px;margin-right:2px;">
                            <label style="margin-left:10px;width:100px;">عرض ملک</label>
                            <input type="number" min="0" class="form-control" value="0" placeholder="عرض ملک" style="width:100px;" id="arzebanaanbar" name="arzebanaanbar"/>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-inline" style="padding-top:10px;margin-right:2px;">
                            <label style="margin-left:10px;width:100px;">عرض گذر</label>
                            <input type="number" min="0" class="form-control" value="0" placeholder="عرض گذر" style="width:100px;" id="arzegozaranbar" name="arzegozaranbar"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr>

    <div class="" style="padding-top:30px;">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="" style="padding-right:30px;padding-top:10px;">
                    <p style="font-weight:bold;font-size:16px;">موقعیت ملک</p>
                </div>
            </div>
            <div class="col-9">
                <select class="selectpicker" data-live-search="true" id="moghiatemelk" name="moghiatemelk">
                    @foreach (var item in Model.AmlakMogheiatMelk)
                    {
                        <option value="@item.Name">@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <hr>

    <div class="" style="padding-top:30px;">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="" style="padding-right:30px;padding-top:10px;">
                    <p style="font-weight:bold;font-size:16px;">وضعیت سند</p>
                </div>
            </div>
            <div class="col-9">
                <select class="selectpicker" data-live-search="true" id="sanadstatus" name="sanadstatus">
                    @foreach (var item in Model.AmlakSanadStatus)
                    {
                        <option value="@item.Name">@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <hr>


    <a class="btn btn-success btn-block" style="color:white;margin-bottom:100px;" onclick="searchitemanbar()">جستجو املاک</a>
</div>


<script>
    $('.selectpicker').selectpicker();

    function searchitemanbar() {
        var sanadstatus = $("#sanadstatus").val();
        var moghiatemelk = $("#moghiatemelk").val();
        var arzebana = document.getElementById("arzebanaanbar").value;
        var arzegozar = document.getElementById("arzegozaranbar").value;
        var rentbuy = document.getElementById("rentbuytextbox").value;
        $("#searchboxtoggle").empty();
        $('#searchboxtoggle').load('/Search/SearchAnbarPartial?hometype=' + hometype + '&minmetr=' + minmetr + '&maxmetr=' + maxmetr + '&mincost=' + mincost + '&maxcost=' + maxcost + '&arzebana=' + arzebana + '&arzegozar=' + arzegozar + '&rentbuy=' + rentbuy+ '&sanad=' + sanadstatus );
        $("#searchboxtoggle").show();
    }
</script>