@model ViewModelLayer.Home.GardenFacility
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ContractLayout.cshtml";
}

<link href="~/lib/multiselect/multiselect.css" rel="stylesheet" />
<script src="~/lib/multiselect/multiselect.js"></script>


<div class="text-center" style="background:rgba(202, 199, 199, 0.50)">
    <h2 class="text-center" style="padding-top:60px;padding-bottom:40px;">ثبت ملک جدید</h2>
</div>


<div class="container" style="margin-top:50px;">
    <div class="box box-danger">
        <div class="box-header">
        </div>
        <form asp-action="CreateGardenFacility" asp-controller="CreateHomeType" method="post">

            <div class="box-body">
                <div asp-validation-summary="ModelOnly" class="text-danger row"></div>

                <input name="HomeId" id="HomeId" type="number" style="display:none" value="@ViewData["Id"]">
                <input name="userid" id="userid" type="number" style="display:none" value="@Model.Adviser.Id">

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            <h6>نام نگهبان</h6>
                            <input asp-for="Garden.NegahbaniName" type="text" class="form-control" placeholder="نام نگهبان">
                            <span asp-validation-for="Garden.NegahbaniName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4">
                            <h6>شماره نگهبان</h6>
                            <input asp-for="Garden.NegahbaniPhone" type="text" class="form-control" placeholder="شماره نگهبان">
                            <span asp-validation-for="Garden.NegahbaniPhone" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="">
                            <h6> امتیاز  :</h6><br />
                            <select class="selectpicker" multiple="multiple" data-placeholder="   انتخاب کن  "
                                    style="width: 90%;direction:rtl;float:right;" name="emtiaz" id="emtiaz">
                                @for (var i = 0; i < Model.AmlakEmtiazes.Count; i++)
                                {
                                    <option value="@Model.AmlakEmtiazes[i].Name">@Model.AmlakEmtiazes[i].Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>


                <hr />

                <div class="form-group">
                    <button type="submit" class="btn btn-success">درج اطلاعات باغ - رفتن به مرحله بعد </button>
                </div>

            </div>
        </form>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <!-- /.box -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}