@model List<DomainLayer.Contract.Contract>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Managment.cshtml";
}

<link href="~/css/alert/sweetalert.css" rel="stylesheet" />
<link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<script src="~/css/alert/sweetalert.js"></script>

<style>
    tr:nth-child(even) {
        background: rgba(126, 136, 241, 0.59)
    }
</style>


<section class="content-header">
    <h1>
        داشبورد
        <small>کنترل پنل</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/ContractManagment/Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">مدیریت قرارداد ها</li>
    </ol>
</section>

<div class="callout callout-info" style="margin-top:10px;">
    <h4>مدریت قرارداد ها</h4>
    میتوانید لیست قرارداد های این ملک را مشاهده کنید
</div>



<p style="margin-right:50px;">
    <a href="/ContractManagment/Create?homeid=@ViewData["homeid"]&hometype=@ViewData["hometype"]" class="btn btn-default">افزودن قرارداد جدید</a>
</p>

<div class="row" style="padding:50px;">
    <div class="col-md-12 box">
        <div class="table-responsive box-body">
            <table id="mytable" class="table table-bordered table-hover" style="background-color:white;">
                <thead>
                    <tr>
                        <th class="text-center">نوع قرارداد</th>
                        <th class="text-center">قیمت ملک</th>
                        <th class="text-center">رهن و اجاره</th>
                        <th class="text-center">متراژ</th>
                        <th class="text-center">کارشناس</th>
                        <th class="text-center">ویرایش</th>
                        <th class="text-center">حذف</th>
                    </tr>
                </thead>
                <tbody id="listofarticle">
                    @await Html.PartialAsync("_ListAjax", Model)
                </tbody>

            </table>

        </div>

    </div>
</div>

<script>


        function deleteitem(id) {
            swal({
                title: "آیا میخواهید حذف شود؟",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "بله حذف شود",
                cancelButtonText: "خیر",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        sendtoservertodelete(id);

                    } else {
                        swal("صرف نظر", "حذف نشد", "error");
                    }
                });
        }

        function sendtoservertodelete(id) {
            $.ajax({
                type: "Post",
                url: '/ContractManagment/Delete',
                data: { id: id },
                success: function (data) {
                    window.location.reload();
                }
            });
        }

        
</script>

